{% include 'bmw/partials/head.html' %}

<body>
    <header class="main-header-container">
        <div id="header-content"></div> 
        <div class="main-header container">
            <a href="/" class="main-logo">
                <img id="logoBmw" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/1200px-BMW.svg.png" alt="Logo BMW">
                <h1 id="textoBmw">BMW</h1>
            </a>
            <a href="">Inicio</a>
            <a href="">Modelos</a>
            <a href="">Ofertas</a>
            <a href="">Contato</a>   
        </div>

    </head>
    
</body>
</html>